name: container
on:
  push:
    branches: [ main ]
  workflow_dispatch: {}

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - uses: actions/checkout@v4
      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-25.05
      - name: Build image (nix)
        run: nix build .#homebase-image --out-link img
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: c0decafe
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Load, tag & push
        run: |
          docker load < img
          docker tag nix-homebase:latest ghcr.io/c0decafe/homebase:latest
          docker push ghcr.io/c0decafe/homebase:latest
