name: smoke

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["container"]
    types: ["completed"]
  push:
    branches: [ master ]
    paths:
      - .github/workflows/smoke.yml
      - .goss.yaml

jobs:
  smoke:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image
        run: docker pull ghcr.io/c0decafe/homebase:latest
      - name: Install goss/dgoss
        env:
          GOSS_VERSION: v0.4.4
        run: |
          curl -L https://github.com/goss-org/goss/releases/download/${GOSS_VERSION}/goss-linux-amd64 | sudo tee /usr/local/bin/goss >/dev/null
          curl -L https://github.com/goss-org/goss/releases/download/${GOSS_VERSION}/dgoss | sudo tee /usr/local/bin/dgoss >/dev/null
          sudo chmod +x /usr/local/bin/goss /usr/local/bin/dgoss
      - name: Run dgoss smoke tests
        env:
          GOSS_FILES_PATH: ${{ github.workspace }}
          DGOSS_RUN_OPTS: "--entrypoint /bin/bash --env GITHUB_USER=c0decafe"
        run: dgoss run ghcr.io/c0decafe/homebase:latest -lc "sleep infinity"
