name: ssh-smoke-test

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["container"]
    types: ["completed"]

jobs:
  smoke:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image
        run: docker pull ghcr.io/c0decafe/homebase:latest
      - name: Smoke test ssh-init
        run: docker run --rm ghcr.io/c0decafe/homebase:latest "sudo -n /usr/local/share/ssh-init.sh"
