name: smoke

on:
  workflow_dispatch:
  workflow_run:
    workflows: ["container"]
    types: ["completed"]

jobs:
  smoke:
    runs-on: ubuntu-latest
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    steps:
      - uses: actions/checkout@v4
      - uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Pull image
        run: docker pull ghcr.io/c0decafe/homebase:latest
      - name: Run smoke tests
        env:
          SMOKE_GITHUB_USER: c0decafe
        run: ./scripts/smoke.sh ghcr.io/c0decafe/homebase:latest
